! *.font:Source Code Pro:size=16:antialias=true:autohint=true
! st.font: SauceCodePro Nerd Font:size=16
! st.borderpx: 20
! dmenu.font: SauceCodePro Nerd Font:size=16:style=Bold
!
Xft.dpi: 96

st.font: Fira Code:size=16
st.borderpx: 20
dmenu.font: Fira Code:size=16:style=Bold


! Dracula
/*
dmenu.selbackground:  #44475a
dmenu.selforeground:  #bd93f9

dwm.normbgcolor:      #1e1f29
dwm.selbgcolor:       #44475a

dwm.normfgcolor:      #ffffff
dwm.selfgcolor:       #bd93f9

dwm.normbordercolor:  #1e1f29
dwm.selbordercolor:   #282a36

*.foreground:         #ffffff
*.background:         #1e1f29
*.cursorColor:        #ffffff

! black
*.color0:             #282a36
*.color8:             #44475a

! red
*.color1:             #ff5555
*.color9:             #ff6e67

! green
*.color2:             #50fa7b
*.color10:            #5af78e

! yellow
*.color3:             #f1fa8c
*.color11:            #f1fa8c

! blue
*.color4:             #bd93f9
*.color12:            #caa9fa

! magenta
*.color5:             #ff79c6
*.color13:            #ff92d0

! cyan
*.color6:             #8be9fd
*.color14:            #9aedfe

! white
*.color7:             #e5e5e5
*.color15:            #f8f8f2
*/


!Nord
dmenu.selbackground:  #3b4252
dmenu.selforeground:  #88c0d0

dwm.normbgcolor:      #2e3440
dwm.selbgcolor:       #3b4252

dwm.normfgcolor:      #d8dee9
dwm.selfgcolor:       #88c0d0

dwm.normbordercolor:  #2e3440
dwm.selbordercolor:   #81a1c1

! special
*.foreground:         #d8dee9
*.background:         #2e3440
*.cursorColor:        #d8dee9

! black
*.color0:             #3b4252
*.color8:             #4c566a

! red
*.color1:             #bf616a
*.color9:             #bf616a

! green
*.color2:             #a3be8c
*.color10:            #a3be8c

! yellow
*.color3:             #ebcb8b
*.color11:            #ebcb8b

! blue
*.color4:             #81a1c1
*.color12:            #81a1c1

! magenta
*.color5:             #b48ead
*.color13:            #b48ead

! cyan
*.color6:             #88c0d0
*.color14:            #8fbcbb

! white
*.color7:             #e5e9f0
*.color15:            #eceff4

!One Dark
/*
dmenu.selbackground:  #4C566A
dmenu.selforeground:  #ABB2BF

dwm.normbgcolor:      #282C34
dwm.selbgcolor:       #4C566A

dwm.normfgcolor:      #ABB2BF
dwm.selfgcolor:       #ABB2BF

dwm.normbordercolor:  #282C34
dwm.selbordercolor:   #61AFEF

! special
*.foreground:         #abb2bf
*.background:         #282c34
*.cursorColor:        #abb2bf

! black
*.color0:             #282c34
*.color8:             #4c566a

! red
*.color1:             #e06c75
*.color9:             #e06c75

! green
*.color2:             #98c379
*.color10:            #98c379

! yellow
*.color3:             #e5c07b
*.color11:            #e5c07b

! blue
*.color4:             #61afef
*.color12:            #61afef

! magenta
*.color5:             #c678dd
*.color13:            #c678dd

! cyan
*.color6:             #56b6c2
*.color14:            #56b6c2

! white
*.color7:             #abb2bf
*.color15:            #abb2bf
*/
